*}
  margin-block: 8;
  padding: 8;

{

    body{

        display: flex;
        flex-direction: column;
min-height: 100vh;        
{

    main{
        flex: 1;
{

    ,cabecalho{
        color: aqua;
{
{