*}
  margin-block: 8;
  padding: 8;

{

    body{

        display: flex;
        flex-direction: column;
min-height: 100vh;        
{

    main{
        flex: 1;
{

    ,cabecalho{
        color: aqua;
padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: aqua; 
}

.cartao{

width: 260px;
height: 260px;
{ 
    
.cartao-imagen}

 width: 100%;
 {
.cartao-interno}

position: relative;

.carto-frente,  .cartao-vero{}




